<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact Us</title>
        <link rel="stylesheet" href="style.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
    </head>
    <body>
        <header>
            <h2 class="logo">Suka Maju</h2>
            <nav class="navigation">
                <a href="/index.html">Home</a>
                <a href="/components/About/About.html">About</a>
                <a href="/components/Service/Service.html">Services</a>
                <a href="/components/Contact/Contact.html">Contact</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p>Jangan sungkan hubungi kami saat anda perlu bantuan dalam pemesanan, pembayaran dll..</p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><ion-icon name="map-outline"></ion-icon></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>	Jl. Arnold Mononutu, Airmadidi,<br> Minahasa Utara, Manado<br>95371</p>
                        </div>
                    </div> 
                    <div class="box">
                        <div class="icon"><ion-icon name="call-outline"></ion-icon></div>
                        <div class="text">
                            <h3>Phone Numbers</h3>
                            <p>	171-194-4535</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>Onlinelaundry0137@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contactForm">
                    <form>
                        <h2>Send Messages</h2>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Full Name</span>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="" required="required">
                            <span>Email</span>
                        </div>
                        <div class="inputBox">
                            <textarea name="" required="required"></textarea>
                            <span>Type Your Message...</span>
                        </div>
                        <div class="inputBox">
                            <input type="submit" name="" value="Send">
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
