<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Contact Us</title>
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
    </head>
    <body>
        <header>
            <h2 class="logo">Laundry Koh Atong</h2>

            <input type="checkbox"  id="check">
            <label for="check" class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>

            <nav class="navigation">
                <a href="/index.html" style="--i:0">Home</a>
                <a href="/components/About/About.html" style="--i:1">About</a>
                <a href="/components/Service/Service.html" style="--i:2">Services</a>
                <a href="/components/Contact/Contact.html" style="--i:3">Contact Us</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>
        <section>
            <div class="container">
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="/components/ContactUs/images/yaki.jpg"></div>
                        <div class="contentBx">
                            <h3>Delon<br><span>Trader</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://id-id.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:3">
                            <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="/components/ContactUs/images/gajah.jpg"></div>
                        <div class="contentBx">
                            <h3>Oliver<br><span>Traveler</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://id-id.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:3">
                            <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="/components/ContactUs/images/kodok.jpg"></div>
                        <div class="contentBx">
                            <h3>Sam<br><span>Web Developer</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://id-id.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:3">
                            <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
                
                <div class="card">
                    <div class="content">
                        <div class="imgBx"><img src="/components/ContactUs/images/anjinglaut.jpg"></div>
                        <div class="contentBx">
                            <h3>Mayjen<br><span>Creative designer</span></h3>
                        </div>
                    </div>
                    <ul class="sci">
                        <li style="--i:1">
                            <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:2">
                            <a href="https://id-id.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li style="--i:3">
                            <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
        <section class="contact">
            <div class="content">
                <h2>Contact Us</h2>
                <p>Jangan sungkan hubungi kami saat anda perlu bantuan dalam pemesanan, pembayaran dll..</p>
            </div>
            <div class="container">
                <div class="contactInfo">
                    <div class="box">
                        <div class="icon"><ion-icon name="map-outline"></ion-icon></div>
                        <div class="text">
                            <h3>Address</h3>
                            <p>Jl. Arnold Mononutu, Airmadidi,<br> Minahasa Utara, Manado<br>95371</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="call-outline"></ion-icon></div>
                        <div class="text">
                            <h3>Phone Numbers</h3>
                            <p>171-194-4535</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon"><ion-icon name="mail-outline"></ion-icon></div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>LaundryKohAtong1945@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
    </body>
</html>
