<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Services</title>
        <link rel="stylesheet" href="style.css">
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <header>
            <h2 class="logo">Suka Maju</h2>
            <nav class="navigation">
                <a href="/index.html">Home</a>
                <a href="/components/About/About.html">About</a>
                <a href="#">Services</a>
                <a href="/components/Contact/Contact.html">Contact</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>
        <div class="section">
            <div class="title">
                <h1>Layanan yang kami sediakan</h1>
            </div>
            <div class="services">
                <div class="card">
                    <div class="icon">
                        <ion-icon name="shirt-outline"></ion-icon>
                    </div>
                    <h2>Layanan Laundry Kilat</h2>
                    <p>Layanan laundry kilat adalah pilihan ideal untuk pelanggan yang membutuhkan pakaian mereka dicuci, disetrika, dan dikembalikan dalam waktu singkat. Kami menawarkan penjemputan dan pengantaran cepat, sehingga Anda dapat memiliki pakaian bersih dalam waktu yang sangat singkat. </p>
                </div>
                <div class="card">
                    <div class="icon">
                        <span class="material-symbols-outlined">local_laundry_service</span>
                    </div>
                    <h2>Layanan Memilih Laundry</h2>
                    <p>Kami menawarkan layanan pemilihan laundry yang mengutamakan efisiensi harga dan jarak, memberikan pelanggan kemudahan dalam mendapatkan hasil terbaik dengan biaya yang lebih terjangkau dan waktu tempuh yang minimal.</p>
                </div>
                <div class="card">
                    <div class="icon">
                        <span class="material-symbols-outlined"> gavel</span>
                    </div>
                    <h2>Kebijakan Kerusakan atau Kehilangan</h2>
                    <p>Kami memiliki kebijakan yang menyatakan bahwa segala kerusakan dan kehilangan barang akan sepenuhnya ditanggung oleh pihak laundry yang Anda pesan.</p>
                </div>
                <div class="card">
                    <div class="icon">
                        <span class="material-symbols-outlined">percent</span>
                    </div>
                    <h2>Promo dan Diskon Berkala Bagi Pelanggan Tetap</h2>
                    <p> Kami sering menawarkan promosi dan diskon kepada pelanggan tetap kami. Pastikan untuk memeriksa penawaran khusus kami untuk penghematan lebih lanjut.</p>
                </div>
            </div>
        </div>
    </body>
</html>