<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="aboutstyle.css">
    </head>
    <body>
        <header>
            <h2 class="logo">Suka Maju</h2>
            <nav class="navigation">
                <a href="/index.html">Home</a>
                <a href="/components/About/About.html">About</a>
                <a href="/components/Service/Service.html">Services</a>
                <a href="/components/Contact/Contact.html">Contact</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>
        <section class="about">
            <div class="heading">
                <h1><br>About Us</h1>
            </div>
            <div class="container">
                <div class="hero-content">
                    <h2>Selamat Datang Di Website Kami</h2>
                    <p>
                        Selamat datang di Laundry Suka Maju, layanan laundry modern yang Peduli pelanggan. Kami adalah lebih dari sekadar layanan laundry; kami adalah solusi lengkap untuk semua kebutuhan laundry Anda. Dengan fokus pada kualitas, keandalan, dan kenyamanan, kami bertekad untuk membuat hidup Anda lebih mudah dan memastikan bahwa pakaian Anda selalu terlihat dan terasa segar.
                    </p>
                </div>
                <div class="image">
                    <img src="/img/manteallaundry.jpg">
                </div>
            </div>
        </section>
    </body>
</html>