<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="stylesheet" href="aboutstyle.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <header>
            <h2 class="logo">Laundry Koh Atong</h2>

            <input type="checkbox"  id="check">
            <label for="check" class="icons">
                <i class='bx bx-menu' id="menu-icon"></i>
                <i class='bx bx-x' id="close-icon"></i>
            </label>

            <nav class="navigation">
                <a href="/index.html" style="--i:0">Home</a>
                <a href="/components/About/About.html" style="--i:1">About</a>
                <a href="/components/Service/Service.html" style="--i:2">Services</a>
                <a href="/components/Contact/Contact.html" style="--i:3">Contact Us</a>
                <button class="btnLogin-popup">Login</button>
            </nav>
        </header>
        <section class="about">
            <div class="heading">
                <h1><br>About Us</h1>
            </div>
            <div class="container">
                <div class="hero-content">
                    <h2>Selamat Datang Di Website Kami</h2>
                    <p>
                        Selamat datang di Laundry Koh Atong, layanan laundry modern yang Peduli pelanggan. Kami adalah lebih dari sekadar layanan laundry; kami adalah solusi lengkap untuk semua kebutuhan laundry Anda. Dengan fokus pada kualitas, keandalan, dan kenyamanan, kami bertekad untuk membuat hidup Anda lebih mudah dan memastikan bahwa pakaian Anda selalu terlihat dan terasa segar.
                    </p>
                </div>
                <div class="image">
                    <img src="/img/manteallaundry.jpg">
                </div>
            </div>
        </section>
    </body>
</html>